<!doctype html>
<html>
<head>
  <title>Let's Watch!</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body { padding-top:80px; }
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="clearfix">
    <h2 class="pull-left">Videos List</h2>
    <div class="pull-right">Welcome user, <b>ycao2</b></div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="/img/img1.jpeg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>The skeleton twins</h3>
          <p>Cras justo odio, dapibus non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="/img/img2.jpeg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>Family Guy</h3>
          <p>Egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="/img/sunjoe.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>Sun Joe Mow Joe 14" Electric Lawn Mower</h3>
          <p>Sun Joe Mow Joe 14" Electric Lawn Mower</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>
  </div>

  <!--row 2-->
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="http://ib2.huluim.com/video/60627365?size=476x268&region=us" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>Blindspot</h3>
          <p>Blindspot</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="http://ib2.huluim.com/show/11957?size=476x268&region=us" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>Spongebob</h3>
          <p>Cras justo odio, id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" src="http://ib4.huluim.com/show/7795?size=476x268&region=us" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>American Horror Story</h3>
          <p>Ddapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a href="/video/sunjoe_mow_joe_14" class="btn btn-primary" role="button">Watch</a></p>
        </div>
      </div>
    </div>

  </div>

</div>
</body>
</html>
